{% extends 'Entrega1App/base.html' %}
{% load static %}


{% block tituloPagina %}
Buscar Productos - App
{% endblock %}

{% block descripcionPagina %}
Buscar Productos
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-2">
    <div class="container px-1">
        <div class="row gx-1 justify-content-center">
<p>Ingrese el producto que desea buscar:
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="nombre" id="">

        <input type="submit" value="Buscar" class="btn btn-success btn-sm"> <a href="{%  url 'productos' %}">                        
            <button type="button" class="btn btn-secondary btn-sm">Volver a Productos</button>
        </a>
    </form>
</p>

<p>Resultados:</p>
    <table class="table table-light table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Nombre del Producto</th>
            <th scope="col">Categoría</th>
            <th scope="col">Precio</th>
            <th scope="col">Disponibilidad</th>
        </tr>
        </thead>
        <tbody>
            {% for resultado in nombres %}
                <tr>
                    <td scope="1">{{resultado.nombre}}</td>
                    <td scope="2">{{resultado.get_categoria_display}}</td>
                    <td scope="3">${{resultado.precio}}</td>
                    <td scope="4">
                    {% if resultado.stock == 0 %}
                        <p style="color: red;">SIN STOCK</p>
                    
                    {% elif resultado.stock > 0 and resultado.stock < 10 %}
                        <p style="color: rgb(192, 192, 59);">ÚLTIMAS UNIDADES</p>

                    {% else %}
                        <p style="color: green;">DISPONIBLE</p>
                    {% endif %}
                    </td>
                </tr>
        </tbody>
            
            {% endfor %}
    </table>
     </div>
    </div>

</section>
{% endblock %}